body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-38px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u18008 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:29px;
  width:1200px;
  height:54px;
}
#u18009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u18009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  display:flex;
}
#u18009 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u18010 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:20px;
  display:flex;
}
#u18010 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u18011 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:20px;
  display:flex;
}
#u18011 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u18012 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:20px;
  display:flex;
}
#u18012 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u18013 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:20px;
  display:flex;
}
#u18013 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u18014 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:20px;
  display:flex;
}
#u18014 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u18015 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:20px;
  display:flex;
}
#u18015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u18016 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:20px;
  display:flex;
}
#u18016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u18017 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:20px;
  display:flex;
}
#u18017 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18017_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u18018 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:0px;
  width:100px;
  height:20px;
  display:flex;
}
#u18018 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u18019 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:0px;
  width:100px;
  height:20px;
  display:flex;
}
#u18019 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u18020 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:0px;
  width:100px;
  height:20px;
  display:flex;
}
#u18020 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u18021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:34px;
  display:flex;
}
#u18021 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u18022 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:20px;
  width:100px;
  height:34px;
  display:flex;
}
#u18022 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u18023 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:20px;
  width:100px;
  height:34px;
  display:flex;
}
#u18023 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u18024 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:20px;
  width:100px;
  height:34px;
  display:flex;
}
#u18024 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u18025 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:20px;
  width:100px;
  height:34px;
  display:flex;
}
#u18025 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u18026 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:20px;
  width:100px;
  height:34px;
  display:flex;
}
#u18026 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u18027 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:20px;
  width:100px;
  height:34px;
  display:flex;
}
#u18027 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u18028 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:20px;
  width:100px;
  height:34px;
  display:flex;
}
#u18028 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u18029 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:20px;
  width:100px;
  height:34px;
  display:flex;
}
#u18029 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u18030 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:20px;
  width:100px;
  height:34px;
  display:flex;
}
#u18030 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u18031 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:20px;
  width:100px;
  height:34px;
  display:flex;
}
#u18031 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u18032 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:20px;
  width:100px;
  height:34px;
  display:flex;
}
#u18032 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1890FF;
  line-height:22px;
}
#u18033 {
  border-width:0px;
  position:absolute;
  left:1165px;
  top:0px;
  width:73px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1890FF;
  line-height:22px;
}
#u18033 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18033_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1890FF;
  line-height:22px;
}
#u18034 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:0px;
  width:383px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1890FF;
  line-height:22px;
}
#u18034 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18034_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
